<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14324.37458144749!2d29.203345542188035!3d40.996175852931316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cacfb54eb13143%3A0xcea1c179831ac5c0!2sSar%C4%B1gazi%2C%2034785%20Sancaktepe%2F%C4%B0stanbul!5e0!3m2!1sen!2str!4v1711819940985!5m2!1sen!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Map End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Bilgi</span>
                        <h2>Bize Ulaşın</h2>
                        <p>
                            Markamızı daha ileriye taşımamız için sizlerin görüş ve tavsiyelerine ihtiyacımız var
                        </p>
                    </div>
                    <ul>
                        <li>
                            <h4>Türkiye</h4>
                            <p>İstanbul,Sancaktepe,Sarıgazi<br />+90 551 987 7919</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form id="post" action="/Contact/Post" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <input name="Name" type="text" id="Name" placeholder="Ad" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="email" name="Email" type="text" id="Email" placeholder="Email" required >
                            </div>
                            <div class="col-lg-12">
                                <textarea name="Message" type="text" id="Message" placeholder="Mesaj" required></textarea>
                                <button type="submit" class="site-btn">Mesajınızı İletin</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
