<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Hakkımızda</h4>
                    <div class="breadcrumb__links">
                        <a href="/Home">Ana Sayfa</a>
                        <span>Hakkımızda</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="https://stayfitwears.com/cdn/shop/files/IMG_0052.jpg?v=1699558030&width=3840" alt="spiderus">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Biz Kimiz ?</h4>
                    <p>
                        StayFitWears olarak, sporcular için şık ve konforlu kıyafetler sunuyoruz. Performansınızı desteklemek ve spor deneyiminizi daha keyifli hale getirmek için en iyi ürünleri sunuyoruz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Kimler İçin ?</h4>
                    <p>
                        StayFitWears olarak, sporcuların yanı sıra aktif yaşam tarzını benimseyen herkesi hedefliyoruz. Fitness tutkunlarından, spor salonu meraklılarına, açık hava sporlarına ilgi duyanlardan, günlük aktivitelerinde rahat ve şık olmayı tercih edenlere kadar herkes için bir şeyler sunuyoruz. StayFitWears, sağlıklı yaşamı ve aktif bir yaşam tarzını destekleyen herkes için ideal bir seçenektir.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Neden Bizi Seçmelisiniz</h4>
                    <p>
                        StayFitWears olarak, sporcuların tercihi olmamızın nedenleri açıktır. Biz, sporcular için şık, konforlu ve performans odaklı kıyafetler sunuyoruz. Müşteri memnuniyeti bizim önceliğimizdir ve her zaman en iyi hizmeti sunmak için çalışıyoruz. Sporunuzu daha keyifli ve verimli hale getirmek için StayFitWears'i tercih edin.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Counter Section Begin -->
<section style="text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" style="display: inline-block;">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">99</h2>
                        <strong>%</strong>
                    </div>
                    <span>Müşteri<br />Memnuniyeti</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->
<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Takımımız</span>
                    <h2>Takımımızla Tanışın</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/img/about/team-1.jpg" alt="patron">
                    <h4>Ozan Yaşar Şahin</h4>
                    <span>Markanın Sahibi</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/img/about/team-2.jpg" alt="tasarımcı">
                    <h4>Ezel Bayraktar</h4>
                    <span>Tasarımcı</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/img/about/team-3.jpg" alt="pazarlama">
                    <h4>Cengiz Atay</h4>
                    <span>Pazarlama Müdürü</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/img/about/team-4.jpg" alt="aliabi">
                    <h4>Ali Kırgız</h4>
                    <span>Dikiş Ustası</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
