@{
    Layout = null; // Layout'u sil
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f8f8;
        }

        .container {
            text-align: center;
        }

        h1 {
            color: #444;
            font-size: 2.5em;
        }

        p {
            color: #666;
            font-size: 1.2em;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            color: #fff;
            background-color: #008CBA;
            text-decoration: none;
            border-radius: 5px;
        }

            a:hover {
                background-color: #005580;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Siparişiniz Alındı</h1>
        <p>Siparişinizi En Kısa Sürede Teslim Edeceğiz</p>
        <a href="/Account/UserOrder/Index">Siparişlerim</a>
    </div>
</body>
</html>
