@using System.Text.Json

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StayFit</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/Home"><img src="https://cdn.shopify.com/s/files/1/0015/3616/3897/files/stayfitlogo_1_1_copy_ca4cb3ac-f35b-45fa-91af-9e5d9c095775.png?height=628&pad_color=ffffff&v=1668553237&width=1200" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/Home">Ana Sayfa</a></li>
                            <li><a href="/Shop">Alışveriş</a></li>
                            <li>
                                <a>StayFit</a>
                                <ul class="dropdown">
                                    <li><a href="/About/About">Hakkımızda</a></li>
                                    <li><a href="https://www.trendyol.com/magaza/stayfit-wears-m-912478?sst=0">Trendyol</a></li>
                                    <li><a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=StayFitWear&sid=UUtXam9vc3ZMdlRTT0JkSTBfLTFfIF8g">Shopier</a></li>
                                </ul>
                            </li>
                            <li><a href="/Contact/Contact">Bize Ulaşın</a></li>
                            <li>
                                <a>Hesap</a>
                                <ul class="dropdown">
                                    @if (ViewContext.HttpContext.Session.GetString("User") != null)
                                    {
                                        var appUser = JsonSerializer.Deserialize<BitirmeProjesi.Data.Entities.JsonEntities.AppUser>(ViewContext.HttpContext.Session.GetString("User")!);

                                        if (appUser!.Role.ToString() == "Admin")
                                        {
                                            <li><a href="/Administrator/Home/Index">Administrator</a></li>
                                        }
                                        if (appUser.Role.ToString() == "User")
                                        {
                                            <li><a href="/Account/UserProfile/Profile">Hesap Bilgilerim</a></li>
                                            <li><a href="/Account/UserOrder/Index">Siparişlerim</a></li>
                                        }
                                        <li><a href="/Account/User/SignOut">Çıkış Yap</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Account/User/SignIn">Giriş Yap</a></li>
                                        <li><a href="/Account/User/Register">Kayıt Ol</a></li>
                                    }

                                </ul>

                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="/Sepet"><img src="~/img/icon/cart.png" alt="sepetim"></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/Home"><img src="https://stayfitwears.com/cdn/shop/files/Adjustment_Layer.00_00_02_00.Still003.png?v=1697731764&width=240" alt=""></a>
                        </div>
                        <a href="/Home"><img src="~/img/payment.png" alt="ödeme yöntemleri"></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Alışveriş</h6>
                        <ul>
                            <li><a href="/Home">StayFit Wears</a></li>
                            <li><a href="https://www.trendyol.com/magaza/stayfit-wears-m-912478?sst=0">Trendyol</a></li>
                            <li><a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=StayFitWear&sid=UUtXam9vc3ZMdlRTT0JkSTBfLTFfIF8g">Shopier</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>StayFit Wears</h6>
                        <ul>
                            <li><a href="/About/About">Hakkımızda</a></li>
                            <li><a href="/Contact/Contact">Bize Ulaşın</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Sayfanın el alt bölümündeki paragraf -->
                        <p>
                            Bizi Tercih Ettiğiniz İçin Teşekkür Ederiz
                        </p>
                        <!-- Sayfanın el alt bölümündeki paragraf -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>